# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
#
# See https://github.com/r-lib/actions/tree/master/examples#readme for
# additional example workflows available for the R community.

name: R

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: macOS-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-pandoc@v2
      - name: Check Hands_on_III.Rmd
        run: if [ -e Hands_on_III.Rmd ] ; then exit 0 ; else { echo missing Hands_on_III.Rmd ; exit 1 ; } ; fi
      - name: Install packages
        run: Rscript -e 'install.packages(c("rmarkdown", "tidyverse", "readxl", "janitor", "dplyr", "caret", "recipes", "pROC", "rsample", "randomForest", "pheatmap", "ggplot2", "iml", "fastshap", "ggrepel"))'
      - name: Render Hands_on_III.html
        run: Rscript -e 'rmarkdown::render("Hands_on_III.Rmd")'
      - name: Check Hands_on_III.html
        run: if [ -e Hands_on_III.html ] ; then exit 0 ; else { echo missing Hands_on_III.html ; exit 1 ; } ; fi
